node_modules
.next
out
build
.env
.env.local
.env.production
momo-setup.log
momo-setup-utf8.log
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
